In [1]:
import sqlite3
import pandas as pd

In [2]:
db = sqlite3.connect("my_list_notes.db")

cursor = db.cursor()

In [3]:
cursor.execute("CREATE TABLE user (user_id integer, name text, email text, password text)")
cursor.execute("CREATE TABLE note (note_id integer, title text, description text, content text, user_id integer, created_at datetime, updated_at datetime)")

In [5]:
cursor.execute("INSERT INTO user VALUES (0, 'João', 'joao@gmail.com', '123')")
cursor.execute("INSERT INTO user VALUES (1, 'Maria', 'maria@gmail.com', '123')")
cursor.execute("INSERT INTO user VALUES (2, 'José', 'jose@gmail.com', '123')")
cursor.execute("INSERT INTO note VALUES (0, 'SQL Database', 'How SQL database works', 'This is a note about SQL database', 0, '2024-04-03 21:40:00', '2024-04-03 21:40:00')")
cursor.execute("INSERT INTO note VALUES (1, 'Python', 'How Python works', 'This is a note about Python', 1, '2024-04-03 21:40:00', '2024-04-03 21:40:00')")
cursor.execute("INSERT INTO note VALUES (2, 'JavaScript', 'How JavaScript works', 'This is a note about JavaScript', 2, '2024-04-03 21:40:00', '2024-04-03 21:40:00')")

In [6]:
cursor.execute("SELECT * FROM user")
cursor.execute("SELECT * FROM note")

print(cursor.fetchall())

[(0, 'SQL Database', 'How SQL database works', 'This is a note about SQL database', 0, '2024-04-03 21:40:00', '2024-04-03 21:40:00'), (1, 'Python', 'How Python works', 'This is a note about Python', 1, '2024-04-03 21:40:00', '2024-04-03 21:40:00'), (2, 'JavaScript', 'How JavaScript works', 'This is a note about JavaScript', 2, '2024-04-03 21:40:00', '2024-04-03 21:40:00')]

In [7]:
query_user = "SELECT * FROM user"

df_user = pd.read_sql_query(query_user, db)
df_user.head()

   user_id   name            email password
0        0   João   joao@gmail.com      123
1        1  Maria  maria@gmail.com      123
2        2   José   jose@gmail.com      123

In [8]:
df_notes = pd.read_sql_query("SELECT * FROM note", db)
df_notes.head()

,note_id,title,description,content,user_id,created_at,updated_at
0,0,SQL Database,How SQL database works,This is a note about SQL database,0,2024-04-03 21:40:00,2024-04-03 21:40:00
1,1,Python,How Python works,This is a note about Python,1,2024-04-03 21:40:00,2024-04-03 21:40:00
2,2,JavaScript,How JavaScript works,This is a note about JavaScript,2,2024-04-03 21:40:00,2024-04-03 21:40:00